<<<<<<< HEAD
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

.albums-title,
.artists-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.albums {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  width: calc(33% - 20px);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.card p {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  width: calc(100% - 110px);
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

.long-name {
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.highlight {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.search {
  margin-bottom: 20px;
  padding: 10px;
  background-color: silver;
}
=======
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

.albums-title,
.artists-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.albums {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  width: calc(33% - 20px);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.card p {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  width: calc(100% - 110px);
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

.long-name {
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.highlight {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.search {
  margin-bottom: 20px;
  padding: 10px;
  background-color: silver;
}
>>>>>>> c98554daab0d84cf161868eccbfe380fd09bbfbb
